name: my_app
description: AFL Pairs & Quads Selector
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  excel: ^2.1.0
  http: ^1.1.0
  js: ^0.6.7
  universal_html: ^2.2.4
  collection: ^1.18.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/afl_players_2026.xlsx
    - assets/afl_fixtures_2026.xlsx